@font-face {
    font-family: ClanWeb-Medium;
    src: url("fonts/ClanWeb-Medium.eot");
}

@font-face {
    font-family: ClanWeb-Book;
    src: url("fonts/ClanWeb-Book.eot");
}

@font-face {
    font-family: ClanWeb-Thin;
    src: url("fonts/ClanWeb-Thin.eot");
}

@font-face {
    font-family: ClanWeb-Medium;
    src: url("fonts/ClanWeb-Medium.woff") format("woff");
}

@font-face {
    font-family: ClanWeb-Book;
    src: url("fonts/ClanWeb-Book.woff") format("woff");
}

@font-face {
    font-family: ClanWeb-Thin;
    src: url("fonts/ClanWeb-Thin.woff") format("woff");
}

body {
    background: #edf0f2;
    color: #3d484e;
    font-family: ClanWeb-Book;
    height: 100%;
}

html {
    height: 100%;
}

#page-wrapper {
    height: 100%;
    min-width: 960px;
}

body > #page-wrapper {
    height: auto;
    min-height: 100%;
}

#content {
    padding-bottom: 120px;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

h2, h3, h4, h5 {
    font-weight: normal;
}

h2 {
    font-family: ClanWeb-Thin;
    font-size: 37px;
}

#super-header {
    background: #fff;
    padding: 75px 0 30px;
}

#super-header h1 {
    font-family: ClanWeb-Medium;
    text-transform: uppercase;
    font-size: 30px;
    float: left;
    line-height: 30px;
    margin: 10px 0;
}

#super-header .logo {
    float: right;
}

header h2 {
    font-size: 48px;
    font-family: ClanWeb-Thin;
    line-height: 55px;
    margin: 35px 0;
}

header .subtitle {
    border-left: 6px solid #a1cb3e;
    width: 520px;
    height: 57px;
}

header {
    margin-bottom: 50px;
}

.subtitle {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    padding-left: 15px;
    border-left: 6px solid #3d484e;
    margin: 0;
    float: left;
}

a.cadastro-action-bt {
    background: url(i/cadastro-action-bt.png) repeat-x;
    display: block;
    float: right;
    padding: 21px 20px 0 21px;
    height: 38px;
    font-family: ClanWeb-Medium;
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
}

a.cadastro-action-bt:hover {
    padding-top: 22px;
    height: 37px;
    background-position: 0 1px;
    text-decoration: none;
}

a.cadastro-action-bt:active {
    padding-top: 23px;
    height: 36px;
    background-position: 0 2px;
    text-decoration: none;
}

a.voltar-vagas-bt {
    background: #3d484e;
    display: block;
    padding: 14px 14px 9px;
    font-family: ClanWeb-Medium;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    float: right;
}

header a.voltar-vagas-bt {
    margin-top: 10px;
}

a.voltar-vagas-bt:hover {
    text-decoration: none;
}



footer {
    margin-top: -90px;
    background: #fff;
    padding-top: 30px;
    height: 60px;
	min-width: 960px;
}

footer .copyright {
    font-size: 12px;
    text-align: center;
}

footer .copyright strong {
    font-family: ClanWeb-Medium;
    font-weight: normal;
}

footer .copyright strong:before {
    content: url('i/webgoal-copy.png');
    position: relative;
    top: 4px;
    right: 5px;
}

#resultado-vagas {
    margin-top: 10px;
}

#lista-vagas {
    font-size: 13px;
    margin: 0;
}

#lista-vagas li {
    list-style: none;
    background: #3d484e;
    color: #fff;
    margin: 0;
    padding: 15px;
    margin-bottom: 10px;
}

#lista-vagas li:last-child {
    margin-bottom: 0;
}

#lista-vagas .beneficios,
#lista-vagas .requisitos {
    width: 440px;
    float: left;
    margin-top: 10px;
}

#lista-vagas .beneficios {
    margin-right: 20px;
}

#lista-vagas h4 {
    font-size: 14px;
    font-family: ClanWeb-Medium;
    font-weight: normal;
    margin: 0;
}

#lista-vagas h5 {
    font-size: 13px;
    font-family: ClanWeb-Medium;
    font-weight: normal;
    margin: 0;
}

#lista-vagas p {
    margin: 0;
    color: #f1f1f2;
}

#lista-vagas li:before, #lista-vagas li:after { content: ""; display:table; }
#lista-vagas li:after { clear:both; }
#lista-vagas li { zoom:1; }

.busca-vagas {
    background: #fff;
    padding: 10px 15px;
    margin: 0;
}

.busca-vagas input {
    margin: 0 5px 0 0;
}

.busca-vagas input[type=text] {
    width: 245px;
}

.busca-vagas .submit {
    background: url(i/busca-vagas-bt.png) no-repeat transparent;
    width: 13px;
    height: 13px;
    border: none;
}

.busca-vagas .submit:hover {
    background-position: -13px;
}

.busca-vagas legend {
    border: none;
    float: left;
    text-transform: uppercase;
    font-family: ClanWeb-Medium;
    width: auto;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin: 10px 10px 0 0;
}

#cadastro-content {
    float: left;
    width: 360px;
}

#cadastro-form {
    background: #fff;
    width: 520px;
    padding: 20px;
    float: right;
}

#cadastro-form .help-block {
    list-style: none;
    margin-left: 0;
    margin-top: 5px;
}

form .add-on {
    font-family: Arial;
}

#cadastro-form input[type=text],
#cadastro-form input[type=date],
#cadastro-form textarea,
#cadastro-form select {
    width: 365px;
}

#cadastro-form select {
    width: 380px;
}

#cadastro-form label {
    width: 120px;
}

#cadastro-form .controls {
    margin-left: 140px;
}

#cadastro-form label[for=nascimento],
#cadastro-form label[for=pretensaoSalarial]{
    margin-top: -10px;
    height: 30px;
}

#cadastro-form input[name=pretensaoSalarial] {
    width: 336px;
}

#cadastro-form .control-group {
    margin-bottom: 10px;
}

#cadastro-form .alert strong {
    font-weight: normal;
    font-family: ClanWeb-Medium;
    display: block;
}

#cadastro-form legend {
    text-transform: uppercase;
    font-size: 23px;
    font-family: ClanWeb-Medium;
}

#cadastro-form button[name=submit] {
    background: url(i/enviar-cadastro-bt.png) repeat-x;
    font-family: ClanWeb-Medium;
    color: #fff;
    padding: 11px;
    height: 39px;
    border: 0;
    text-transform: uppercase;
    font-size: 15px;
    float: right;
}

#cadastro-form button[name=submit]:hover {
    background-position: 0 1px;
    padding-top: 12px;
}

#cadastro-form button[name=submit]:active {
    background-position: 0 2px;
    padding-top: 13px;
}

#cadastro-form form:before, #cadastro-form form:after { content: ""; display:table; }
#cadastro-form form:after { clear:both; }
#cadastro-form form { zoom:1; }
#cadastro-form form { margin: 0; }