<!-- formulário de pesquisa de vagas -->
<?php echo $this->form()->openTag(
    $searchForm
        ->setAttribute('class', 'busca-vagas')
        ->setAttribute('action', $this->url('vagas/search'))
        ->prepare()
) ?>
    <legend><?php echo $searchForm->getLabel() ?></legend>
    <?php echo $this->formElement($searchForm->get('titulo_descricao')) ?>
    <?php echo $this->formElement($searchForm->get('beneficios')) ?>
    <?php echo $this->formElement($searchForm->get('requisitos')) ?>
    <?php echo $this->formElement($searchForm->get('submit')->setLabel('')->setAttribute('class', 'submit')) ?>
<?php echo $this->form()->closeTag() ?>
<?php $this->headScript()->appendScript("
    jQuery(function($){
        var form = $('.busca-vagas');
        var list = $('#resultado-vagas');

        form.find('input').keyup(function(){
            clearTimeout(form.data('timer'));
            var wait = setTimeout(search, 300);
            form.data('timer', wait);
        });

        function search(){
            $.ajax({
                type: 'GET',
                url: form.attr('action'),
                data: form.serializeArray(),
            })
            .success(function(result){
                var result = $(result);
                list.html(result);
            });
        }
    })
") ?>

<div id="resultado-vagas">
    <?php echo $this->render('vagas/vagas/list') ?>
</div>