<?php if (count($entities)) : ?>
    <ul id="lista-vagas">
        <?php foreach ($entities as $entity) : ?>
            <li>
                <h4><?php echo $this->escapeHtml($entity['titulo']) ?></h4>
                <p><?php echo nl2br($this->escapeHtml($entity['descricao']), false) ?></p>
                <div class="beneficios">
                    <h5>Benefícios</h5>
                    <p><?php echo nl2br($this->escapeHtml($entity['beneficios']), false) ?></p>
                </div>
                <div class="requisitos">
                    <h5>Requisitos</h5>
                    <p><?php echo nl2br($this->escapeHtml($entity['requisitos']), false) ?></p>
                </div>
            </li>
        <?php endforeach ?>
    </ul>
<?php else : ?>
    <p>Não existem vagas no momento</p>
<?php endif ?>