<?php echo $this->doctype('HTML5'); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <?php echo $this->headLink()
            ->prependStylesheet($this->basePath() . '/css/style.css')
            ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
        ?>
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/jquery.min.js')
        ?>
        <?php echo $this->headTitle('Vagas - Webgoal') ?>

    </head>
    <body>
        <div id="page-wrapper">
            <header>
                <div id="super-header">
                    <div class="container">
                        <h1>Vagas</h1>
                        <img class="logo" src="<?php echo $this->basePath('img/webgoal1.png') ?>" alt="Webgoal">
                    </div>
                </div>
                <div class="container">
                    <h2>Você pode desenvolver<br>
                        de um jeito diferente</h2>
                    <p class="subtitle">Contratamos desenvolvedores de software que valorizam um ambiente de trabalho leve e descontraído, onde a autonomia e a proatividade são os ingredientes do sucesso.</p>
                    <?php if ($this->url() !== $this->url('cadastro')) : ?>
                        <a class="cadastro-action-bt" href="<?php echo $this->url('cadastro') ?>">Candidate-se</a>
                    <?php else : ?>
                        <a class="voltar-vagas-bt" href="<?php echo $this->url('vagas') ?>">&laquo; Voltar à lista</a>
                    <?php endif ?>
                </div>
            </header>
            <section id="content" class="container">
                <?php echo $this->content; ?>
            </section>
        </div>
        <footer>
            <p class="copyright container"><strong>Webgoal &copy; 2013.</strong> Todos os direitos reservados.</p>
        </footer>
        <?php echo $this->inlineScript() ?>
    </body>
</html>
