<section id="cadastro-content">
    <h2>Seja parte de...</h2>
    <p class="subtitle">
        ...uma equipe multidisciplinar e autogerenciável,
        inserida num ambiente que favorece a inovação e a entrega do valor.<br>
        Um grupo de pessoas cujo o combustível é o conhecimento e o alvo é a melhoria contínua.
    </p>
</section>

<article id="cadastro-form">
    <legend>Cadastro</legend>

    <?php if ($message) : ?>
        <p class="alert alert-<?php echo $message['type'] ?>"><?php echo $message['message'] ?></p>
    <?php endif ?>
    
    <?php if ($cadastroForm) : ?>
        <?php $this->formElementErrors()->setAttributes(array('class' => 'help-block')) ?>
        <?php echo $this->form()->openTag($cadastroForm->prepare()->setAttribute('class', 'form-horizontal')) ?>
            <?php foreach ($cadastroForm as $element) : ?>
                <?php $element->setLabelAttributes(array('class' => 'control-label')) ?>
                    <?php if (!$element instanceof Zend\Form\Element\Button) : ?>
                        <div class="control-group <?php if ($this->formElementErrors($element)) : ?>error<?php endif ?>">
                        <?php echo $this->formLabel($element) ?>
                    <?php endif ?>
                    <div class="controls">
                        <?php if ($element->getName() == 'pretensaoSalarial') : ?>
                            <div class="input-prepend">
                                <span class="add-on">R$</span>
                        <?php endif ?>
                        <?php echo $this->formElement($element) ?>
                        <?php if ($element->getName() == 'pretensaoSalarial') : ?>
                            </div>
                        <?php endif ?>
                        <?php echo $this->formElementErrors($element) ?>
                    </div>
                    <?php if (!$element instanceof Zend\Form\Element\Button) : ?>
                        </div>
                    <?php endif ?>
            <?php endforeach ?>
        <?php echo $this->form()->closeTag() ?>
    <?php endif ?>
</article>